Exercise 5

Question 1 

Use Python built-in functions to
   
(a) find the sum of the elements in the list [2.5,-7, 4, 3.3, 9,-6.4].

In [20]:
numbers = [2.5, -7, 4, 3.3, 9, -6.4]
print(f"(a) Sum: {sum(numbers)}")

(a) Sum: 5.4

(b) find the maximum of the elements for the list in (a)

In [21]:
print(f"(b) Maximum: {max(numbers)}")

(b) Maximum: 9

(c) find the minimum of the elements for the list in (a)

In [22]:
print(f"(c) Minimum: {min(numbers)}")

(c) Minimum: -7

(d) sort a the list in (a) in descending order.

In [23]:
print(f"(d) Descending list: {sorted(numbers, reverse=True)}")

(d) Descending list: [9, 4, 3.3, 2.5, -6.4, -7]

(e) find the quotient and the remainder of 47 divided by 13.

In [25]:
q,r = divmod(47,13)
print(f"(e) Quotient: {q}, Remainder: {r}")

(e) Quotient: 3, Remainder: 8

(f) evaluate the expression '1 + 2 == 3'.

In [30]:
print(f"(f) Evaluation of '1 + 2 == 3': {eval('1 + 2 == 3')}")

(f) Evaluation of '1 + 2 == 3': True

(g) check if any numbers in a given list are non-zero.

In [33]:
print(f"(g) Any non zero in the list: {any(numbers)}")

(g) Any non zero in the list: True

(h) check if all numbers in a given list are non-zero.

In [34]:
print(f"(h) All non zero in the list: {any(numbers)}")

(h) All non zero in the list: True

Question 6

Write a function that calculates the distance between the pair of coordinates (x1,y1) and (x2,y2). Here
x1,y1,x2 and y2 will be the inputs and if the function is called without the values of x2 and y2 passed,
they should be set to 0 by default. Make sure the following function calls are valid

(a) distance(x1 = 1, y1 = 2)

In [106]:
result_a = distance(x1 = 1, y1 = 2)
print(f"Result (a): {result_a}")

Result (a): 2.23606797749979

(b) distance(1, 2, x2 = 4, y2 = 2)

In [105]:
result_b = distance(1, 2, x2 = 4, y2 = 2)
print(f"Result (b): {result_b}")

Result (b): 3.0

Question 10

(a) Write a function rangeOfNumbers that can accept numeric inputs of any length and returns the
range of the inputs 
(the difference between the largest input and the smallest input)

In [86]:
def rangeOfNumbers(*args):
    if not args:
        return 0
    return max(args) - min(args)

print(rangeOfNumbers(10, 2, 5, 20))

18

(b) Write a function partialSum that can accept numeric inputs of any length and returns the list of
the partial sum of the inputs.

In [91]:
def partialSum(*args):
    result = []
    current_sum = 0
    for num in args:
        current_sum += num
        result.append(current_sum)
    return result

print(partialSum(1, 2, 3, 4))

[1, 3, 6, 10]

(c) Write a function that accepts keyword-value inputs of any length and prints the key-value pair in
tabular format.

In [96]:
def print_tabular(**kwargs):
    print(f"{'Key':<10} | {'Value':<10}")
    print("-" * 23)
    for key, value in kwargs.items():
        print(f"{key:<10} | {value:<10}")

print_tabular(Name="Maria", Age=22, City="Italy")

Key        | Value
-----------------------
Name       | Maria
Age        | 22
City       | Italy

(d) Write a function that accepts keyword-value inputs of any length. The keys are strings that
represents item names (like eggs, bread, milk, etc) and the value is a 2-element tuple of the
quantity and the price for that item. Calculate the total price for each item and the total of all
items and return the result in a dictionary. A sample function call looks like this
f(eggs=(1,2.5),bread=(3,3.6),milk=(4,2.25),rice=(2,5.7))
and the output looks like this

{'eggs': 2.5, 'bread': 10.8, 'milk': 9.0, 'rice': 11.4, 'total': 33.7}

In [101]:
def calculate_grocery_total(**items):
    report = {}
    grand_total = 0
    
    for item, (quantity, price) in items.items():
        subtotal = quantity * price
        report[item] = subtotal
        grand_total = subtotal
    
    report['total'] = grand_total
    return report

result = calculate_grocery_total(eggs=(1, 2.5), bread=(3, 3.6), milk=(4, 2.25), rice=(2, 5.7))
print(result)

{'eggs': 2.5, 'bread': 10.8, 'milk': 9.0, 'rice': 11.4, 'total': 11.4}

Question 15 

Use the map function for the following tasks.

(a) Create a list of square roots of the numbers in a given list.

In [103]:
numbers = [4, 9, 16, 25]
square_roots = list(map(math.sqrt, numbers))

print(square_roots)

[2.0, 3.0, 4.0, 5.0]

(b) From a given list of strings, create a list of strings in upper case.

In [109]:
strings = ["hello", "world", "python"]
upper_strings = list(map(lambda s: s.upper(), strings))

print(upper_strings)

['HELLO', 'WORLD', 'PYTHON']

(c) Let

ls = ['USA', 'US', 'COD', 'CEO', 'ETA', 'RSVP', 'VIP']

Create a list that has a period inserted between each character in each member of ls.

In [110]:
ls = ['USA', 'US', 'COD', 'CEO', 'ETA', 'RSVP', 'VIP']

dotted_list = list(map(lambda word: '.'.join(word), ls))

print(dotted_list)

['U.S.A', 'U.S', 'C.O.D', 'C.E.O', 'E.T.A', 'R.S.V.P', 'V.I.P']

(d) Let coords be [(1,2), (3,-1), (5,4), (6,0)] and origin be (2,1). 

Create a list of distances of between each coordinate in coords to origin. 

[Hint : create a lambda dist that calculates the
distance between 2 tuples, and pass dist to the map function]

In [112]:
coords = [(1, 2), (3, -1), (5, 4), (6, 0)]
origin = (2, 1)

dist = lambda c: math.sqrt((c[0] - origin[0])**2 + (c[1] - origin[1])**2)

distances = list(map(dist, coords))
print(distances)

[1.4142135623730951, 2.23606797749979, 4.242640687119285, 4.123105625617661]

(e) create a dictionary where the values are converted to uppercase from a dictionary that has values
as strings.

In [116]:
data = {'name': 'maria', 'status': 'pass'}
upper_dict = {k: v.upper() for k, v in data.items()}
print(upper_dict)

{'name': 'MARIA', 'status': 'PASS'}

Question 16

Use the filter function to filter out

(a) the list of numbers divisible by 5, 7 or 11 from a given list of numbers.

In [118]:
numbers = [5, 10, 14, 22, 30, 33, 40, 49, 50, 55, 60, 77, 100]

divisible_list = list(filter(lambda x: x % 5 == 0 or x % 7 == 0 or x % 11 == 0, numbers))

print(f"5(a): {divisible_list}")

5(a): [5, 10, 14, 22, 30, 33, 40, 49, 50, 55, 60, 77, 100]

(b) the list of strings that contain digits only from a given list of strings.

In [119]:
data_list = ["123", "abc", "45.6", "789", "python3", "100"]

digits_only = list(filter(lambda s: s.isdigit(), data_list))

print(f"5(b): {digits_only}")

5(b): ['123', '789', '100']

(c) the list of names that start with ’A’ or ’F’ from a given list of names.

In [121]:
names = ["Alice", "Bob", "Felicia", "Annie", "Charlie", "Fiona"]

specific_names = list(filter(lambda name: name.startswith(('A', 'F')), names))

print(f"16(c): {specific_names}")

16(c): ['Alice', 'Felicia', 'Annie', 'Fiona']

(d) the list of names that contain ’son’ from a given list of names.

In [122]:
family_names = ["Jackson", "Smith", "Johnson", "Brown", "Wilson", "Mason"]

son_names = list(filter(lambda name: 'son' in name.lower(), family_names))

print(f"16(d): {son_names}")

16(d): ['Jackson', 'Johnson', 'Wilson', 'Mason']

Question 14

Write a lambda function that

(a)  returns the value of f(x) = x2 +2x+2 where the input x is a scalar.

In [30]:
f_scalar = lambda x: x**2 + 2*x + 2
print(f_scalar(3))

17

(b) returns the value of f(x) = x2 +2x+2 where the input x is a list of numbers

In [29]:
f_list = lambda lst: [x**2 + 2*x + 2 for x in lst]
print(f_list([1, 2, 3]))

[5, 10, 17]

(c) receives a string as input and returns the string in title case.

In [27]:
to_title_case = lambda s: s.title()
print(to_title_case("hello everyone"))

Hello Everyone

(d) receives a list of strings as input and returns the list of the strings reversed.

In [34]:
reverse_strings = lambda lst: [s[::-1] for s in lst]
print(reverse_strings(["apple", "banana"]))

['elppa', 'ananab']

(e) receives a list of numbers as input, divides each element by the sum of all elements in the list and
returns the result.

In [36]:
normalize = lambda lst: [x / sum(lst) for x in lst] if sum(lst) != 0 else [0 for x in lst]
print(normalize([1, 2, 3]))

[0.16666666666666666, 0.3333333333333333, 0.5]

(f) receives a list of coordinates (the coordinates are 2-element tuples) as an input and returns a list
of distance of the coordinates from the origin.

In [38]:
distance_from_origin = lambda coords: [(x**2 + y**2)**0.5 for x, y in coords] 
print(distance_from_origin([(3,4),(0,0)]))

[5.0, 0.0]

(g) receives 2 inputs x and y and returns the tuple (x −y,x+y).

In [39]:
tuple_math = lambda x,y,: (x-y, x+y)
print(tuple_math(5,3))

(2, 8)

(h) receives a list of 2-element tuples (x,y) as input, calculate and return the list of
(x- y, x + y) tuples

In [45]:
tuple_list_math = lambda lst: [(x-y,x+y) for x,y in lst]
print(tuple_list_math([(5,3),(2,1)]))

[(2, 8), (1, 3)]

(i) receives a dictionary as input, and returns the dictionary with key-value pair reversed.

In [46]:
reverse_dict = lambda d: {v: k for k,v in d.items()}
print(reverse_dict({'a':1, 'b':2}))

{1: 'a', 2: 'b'}

(j) receives a dictionary with student’s name and exam score as the key-value pairs, and return a
dictionary with the key-value pairs of those who pass the exam (a student passes the exam if the
score is ≥ 50). A sample function call looks like this
f({'Nancy':60, 'George':35, 'Mary':80, 'Harry': 49})
and the output should look like this
{'Nancy': 'Pass', 'Mary': 'Pass'}

In [54]:
filter_pass = lambda d: {k: 'Pass' for k, v in d.items() if v >=50}
print(filter_pass({'Nancy': 60, 'George': 35, 'Mary': 80, 'Harry': 49}))

{'Nancy': 'Pass', 'Mary': 'Pass'}

Question 18

Write a Python function that

 (a) Write a recursive function that returns the sum of the first n positive integers.

In [63]:
def sum_n(n):
    if n <= 0:
        return 0
    else:
        return n + sum_n(n - 1)
print("Sum of first 5 positive integers:", sum_n(5))

Sum of first 5 positive integers: 15

(b) Write a recursive function that returns the sum of all digits in an integer.

In [67]:
def sum_digits(n): 
    n = abs(n) 
    if n < 10:
       return n
    else: 
        return n % 10 + sum_digits(n//10)
print("Sum of digits in 1234:", sum_digits(1234))

Sum of digits in 1234: 10

(c) Write a recursive function that returns the n-th Fibonacci number. The Fibonacci’s numbers are
generated by the following sequence

F(1) = 1
F(2) = 1
F(3) = F(2)+F(1)
F(4) = F(3)+F(2)
· · ·
F(n) = F(n−1)+F(n−2)

In [81]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1 or n == 2:
         return 1
    else: 
        return fibonacci(n-1) + fibonacci(n-2) 

print ("7th Fibonacci number:", fibonacci(7))

7th Fibonacci number: 13

(d) A Pascal’s triangle is a triangular array where the elements on the n-th row is the sum of the two
elements above it. A five row Pascal triangle looks like

6
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

Write a recursive function that returns the Pascal triangle of n rows,where n is the input(return
the result as a list of lists).All numbers can be aligned to the left.

In [89]:
def pascal_triangle(n):
    if n<= 0:
        return []
    elif n == 1:
        return [[1]]
    else:
        triangle = pascal_triangle(n - 1)
        prev_row = triangle[-1]
        new_row = [1] 
        for i in range(len(prev_row) - 1):
            new_row.append(prev_row[i] + prev_row[i + 1])
        new_row.append(1)
        triangle.append(new_row)
        return triangle

rows=5
triangle = pascal_triangle(rows)
print(f"Pascal's Triangle with {rows} rows:")
for row in triangle:
    print(row)

Pascal's Triangle with 5 rows:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

Question 3

  Use
  
(a) a loop

In [111]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

fahrenheit_temps = [125.7, 275.4, 300.0, 37.48, 0.0, -180.45]


print("Using a loop:")
print(f"{'Fahrenheit':>12} | {'Celsius':>10}")
print("-" * 25)
for f in fahrenheit_temps:
    c = fahrenheit_to_celsius(f)
    print(f"{f:12.2f} | {c:10.2f}")

Using a loop:
  Fahrenheit |    Celsius
-------------------------
      125.70 |      52.06
      275.40 |     135.22
      300.00 |     148.89
       37.48 |       3.04
        0.00 |     -17.78
     -180.45 |    -118.03

(b) the map function

on the function written in Q2(d) to convert the following temperatures
125.70F,275.40F,300.00F,37.480F,0.00F,−180.450F
to Celsius and print the results in tabular form.

In [112]:
celcius_temps = list(map(fahrenheit_to_celcius, fahrenheit_temps))

print(f"{'Fahrenheit' :>12} | {'Celcius':>10}")
print("-" * 25) 
for f, c in zip(fahrenheit_temps, celcius_temps):
    print(f"{f:12.2f} | {c:10.2f}")

  Fahrenheit |    Celcius
-------------------------
      125.70 |      52.06
      275.40 |     135.22
      300.00 |     148.89
       37.48 |       3.04
        0.00 |     -17.78
     -180.45 |    -118.03